.login-wrapper {
  height: 80vh;
  background-image: url('./imgs/p-bg2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.link {
    text-decoration: none;
  }
  
.link:hover {
    color: #206A5D;
    text-decoration: underline;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.login-input {
  width: 100%;
  padding: 2% 1%;
}

.login-input input {
  margin: 0 0 0 2%;
}
  
.login-form button {
  margin: 2%;
  padding: 1% 2%;
}