.signup-bg {
    background-image: url('./imgs/Plant-backg.jpg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 83vh;
}

.form-container {
    background-color: lightgray;
    width: 40%;
    border-radius: 10px;
    padding: 1%;
}

.form-container h3 {
    margin: 0;
    padding: 1%;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.signup-input {
    width: 100%;
    padding: 2% 1%;
}

.signup-input input {
    margin: 0 0 0 2%;
}

.signup-form button {
    margin: 2%;
    padding: 1% 2%;
}
